{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'data_dashboard/pipeline/pipeline.css' %}"/>
    <title></title>
</head>
<body>
<h2>{{run_id}}</h2>

<h3>{{status}}</h3>

<div id="stages">
    {% for stage in stages %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{stage.title}}
            </h4>
        </div>
        <div id="pipeline_report_{{stage.id}}">
            {% for log in stage.logs %}
            <div>
                {% if log.url %}
                <a target="_blank" href="{{log.url}}">{{log.title}}</a>
                {% endif %}
                {% if log.text %}
                {{log.title}}: <input type="text" class="selectable_text" readonly="true" value="{{log.text}}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% if steps %}
<div id="pipeline_report">
    {% for step in steps %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{step.name}}: {{step.status}}
            </h4>
        </div>
        <div id="pipeline_report_{{stage.id}}">
            {% if step.errorMessage %}
            <div>{{step.errorMessage}}</div>
            {% endif %}

            {% for log in step.logs %}
            <div>
                {% if log.url %}
                <a target="_blank" href="{{log.url}}">{{log.label}}</a>
                {% endif %}
                {% if log.text %}
                {{log.title}}: <textfield><em>{{log.text}}</em></textfield>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

</body>
